# Goal of the ML project 
- Dataset: citybike sharing system

# Data Selection

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

## Import Functions

In [2]:
%run "scripts/dslabs_functions.py"

dslabs_functions lodaded

## Load Files

### Weather file - Lisbon
- Weather info, daily and hourly, from Lisbon for the year 2023
    - info: rain, precipitation, temperature,...
- This weather info was extracted from OpenMeteo
    - Link here -

In [6]:
filepath_weather_lx_h = r'data/open-meteo-lisbon-hourly-2023.csv'
filepath_weather_lx_d = r'data/open-meteo-lisbon-daily-2023.csv'

In [7]:

df_weather_lx_h = pd.read_csv(filepath_weather_lx_h,sep=';', na_values="")
df_weather_lx_d = pd.read_csv(filepath_weather_lx_d, sep =';', na_values="")

display(df_weather_lx_h.head(5))
display(df_weather_lx_d.head(5))

,time,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),snow_depth (m),weather_code (wmo code),...,surface_pressure (hPa),cloud_cover (%),cloud_cover_low (%),cloud_cover_mid (%),cloud_cover_high (%),wind_speed_10m (km/h),wind_speed_100m (km/h),is_day (),Unnamed: 19,Unnamed: 20
0,2023-01-01T00:00,16.5,85,14.0,14.8,0.00,0.00,0.00,0.00,2,...,1015.0,55,1,35,5,20.6,36.2,0,NaN,NaN
1,2023-01-01T01:00,16.4,86,14.1,14.7,0.00,0.00,0.00,0.00,0,...,1014.2,19,0,11,10,21.0,36.2,0,NaN,NaN
2,2023-01-01T02:00,16.3,86,14.0,14.6,0.00,0.00,0.00,0.00,0,...,1013.5,14,0,14,0,20.5,36.0,0,NaN,NaN
3,2023-01-01T03:00,16.5,84,13.8,14.4,0.00,0.00,0.00,0.00,2,...,1013.3,53,0,40,21,23.1,39.4,0,NaN,NaN
4,2023-01-01T04:00,16.8,83,13.9,14.3,0.00,0.00,0.00,0.00,3,...,1012.9,100,0,100,35,25.9,43.2,0,NaN,NaN

,time,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),...,sunshine_duration (s),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm)
0,01/01/2023,63,18.4,11.7,16.1,16.4,10.8,13.9,2023-01-01T07:54,2023-01-01T17:25,...,15073.60,18.4,18.4,0.0,10.0,33.9,62.3,205,3.90,1.10
1,02/01/2023,51,15.2,8.5,11.5,13.2,6.5,9.9,2023-01-02T07:54,2023-01-02T17:26,...,27069.62,0.1,0.1,0.0,1.0,11.0,22.7,357,8.33,1.27
2,03/01/2023,1,14.9,7.1,10.6,12.7,5.1,8.7,2023-01-03T07:54,2023-01-03T17:27,...,30741.26,0.0,0.0,0.0,0.0,13.6,26.3,23,9.83,1.42
3,04/01/2023,0,14.3,7.7,10.7,12.3,4.8,8.3,2023-01-04T07:54,2023-01-04T17:28,...,30795.72,0.0,0.0,0.0,0.0,15.5,31.3,39,9.99,1.27
4,05/01/2023,0,14.2,8.1,10.5,13.6,6.0,8.9,2023-01-05T07:55,2023-01-05T17:28,...,30854.03,0.0,0.0,0.0,0.0,12.8,23.8,35,9.83,1.18

### Main file - Gira Bikes Share system
- Data on bike stations of GIRA
    - Contains info on the name of station, number of docas available at the moment, star and end station of the trip, type of user (member or casual) and type of bike
    - Data provided on citybike website
        - link here - https://citibikenyc.com/system-data

In [8]:
filepath_gira = r'data/estacoes-gira-1-trimestre-2023.xlsx'

file_tag='Gira'

In [9]:
sheets = ["1 jan a 7mar", "8 a 31 marco23"]

test_data = False

# Carregar todas as sheets e concatená-las num único DataFrame
df_list = [pd.read_excel(filepath_gira, sheet_name=sheet, na_values="") for sheet in sheets]
df_3 = pd.concat(df_list, ignore_index=True)

# Se estiver em modo de teste, selecionar apenas 10% dos dados
if test_data:
    df_3 = df_3.sample(frac=0.1, replace=False)

# Mostrar o DataFrame final
display(df_3)

,desigcomercial,numbicicletas,numdocas,position,entity_ts,estado
0,410 - Rua da Mesquita / Universidade Nova de L...,11,40,"{""coordinates"":[-9.16015,38.73492],""type"":""Poi...",2023-01-01T12:14:19.000Z,active
1,417 - Av. Duque de Ávila / Jardim Arco Do Cego,3,23,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2023-01-01T12:14:19.000Z,active
2,301 - Avenida da Liberdade / Restauradores,6,21,"{""coordinates"":[-9.14242,38.71702],""type"":""Poi...",2023-01-01T12:14:20.000Z,active
3,459 - Rua Maria Amália Vaz de Carvalho / ES Ra...,15,20,"{""coordinates"":[-9.141741,38.751481],""type"":""P...",2023-01-01T12:14:20.000Z,active
4,218 - Cais do Sodré,9,22,"{""coordinates"":[-9.14471,38.70617],""type"":""Poi...",2023-01-01T12:14:18.000Z,active
...,...,...,...,...,...,...
1188563,114 - Via do Oriente,4,10,"{""coordinates"":[-9.09974,38.78836],""type"":""Poi...",2023-03-31T22:28:45.000Z,active
1188564,462 - Campo Grande / Biblioteca Nacional,3,29,"{""coordinates"":[-9.15031,38.75027],""type"":""Poi...",2023-03-31T22:28:49.000Z,active
1188565,401 - Rua Martens Ferrão / Av. Fontes Pereira ...,5,16,"{""coordinates"":[-9.14742,38.72894],""type"":""Poi...",2023-03-31T22:28:49.000Z,active
1188566,419 - Av. António José de Almeida / Instituto ...,14,25,"{""coordinates"":[-9.13956,38.73811],""type"":""Poi...",2023-03-31T22:28:53.000Z,active
1188567,101 - Alameda dos Oceanos / Rua dos Argonautas,8,16,"{""coordinates"":[-9.096804,38.756161],""type"":""P...",2023-03-31T22:28:48.000Z,active

In [10]:
df_3.shape

(1188568, 6)

## Sampling

# Data Cleaning/Transformation

## Add more info on the Freguesia (Belem, Ajuda, alcantara,...) of each station

## Add points of interest (turist spots) near the stations or freguesias

## Add variable that indicates if the station is near the river or not

### Add spatial variable, distance between stations (through long and lat variables)

### Add calendrical events (speacial big events, holidays) throug the time period

## Add more time variables from data variable

## Merge the two dataframes - Weather data vs citybike data

# Data Exploration

## How many rides per day, month, quarter?

## How many rides per bicyle type and by type of user?

# Encoding Excel File

In [ ]:

# Define the groups of columns for hierarchical encoding, grouped by sheet name
columns_to_save = {
    
    'product_name' : ['product_id', 'product_name'],  
    'aisle' : ['department_id', 'department','aisle_id', 'aisle'],
    'department' : ['department_id', 'department'],

}



# Save the distinct values combinations of each column group into corresponding sheets
append_columns_to_excel(enriched_data, columns_to_save, f'data/instacart_pre_encoding.xlsx')

print("Excel file has been updated successfully.")

Error: property 'book' of 'OpenpyxlWriter' object has no setter
The file might be corrupt or invalid. Creating a new file.
Excel file has been updated successfully.

# Final df to csv

In [ ]:
data.to_csv('data/instacart_pre_proc.csv',index=False)

# NOTES / TO DOS

- O prof sugeriu transformar o dataset para
    - Ter para cada estação capacidades médias por hora ou por dia de semana por estação
        - ver no chatgpt como calcular a media da taxa de ocupacao por hora ou por variavel